<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>

    <div class="top">
        <img class="logo_img" src="../../../static/images/logo.png" alt="Image error">
        <h2 class="logo_text">Smart Living, Simplified – Your Home, Your Control.</h2>
    </div>

    <div class="middle">
        <img class="login_img" src="../../../static/images/login_img.jpg" alt="Image error">

        <div class="form">
            <form action="" method="">
                <input placeholder="Username" class="text_field" style="display: block" type="text">
                <input placeholder="Password" class="text_field" style="display: block" type="password">
                <input class="submit_button" style="display: block" type="submit" value="Login">
            </form>
            <form action="/auth/register" method="GET">
                <input ur class="submit_button" style="display: block" type="submit" value="Register">
            </form>
        </div>

    </div>

    <div class="bottom"></div>

</body>
</html>