<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration page</title>
  <link rel="stylesheet" href="register.css">
</head>
<body>
  <h1>Registration</h1>
  <form action="" method="POST">
    <label for="username">Username</label>
    <input id="username" type="text">
    <label for="password">Password</label>
    <input id="password" type="password">
    <label for="email">Email</label>
    <input id="email" type="email">

    <input type="submit" value="Register">
  </form>
</body>
</html>