<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
    <link rel="stylesheet" th:href="@{/css/template.css}">
    <link rel="stylesheet" href="/static/css/template.css">

    <link rel="stylesheet" th:href="@{/css/events.css}">
    <link rel="stylesheet" href="/static/css/events.css">
</head>
<body>
</div>

<div id="container" class="container">

    <div class="left_side">

        <div class="left_bottom"></div>

        <div class="wrapper" style="padding-left: 20px ">

            <h1 class="logo_text">Home Sphere</h1>

            <div class="menu">
                <a class="menu_option" th:href="@{/homePage/home}">
                    <img th:src="@{/images/menu/home.png}" src="/static/images/menu/home.png">
                    <span>Home screen</span>
                </a>
                <a class="menu_option" th:href="@{/homePage/devices}">
                    <img th:src="@{/images/menu/device.png}" src="/static/images/menu/device.png">
                    <span>Devices</span>
                </a>
                <a class="menu_option" th:href="@{/homePage/events}">
                    <img th:src="@{/images/menu/event.png}" src="/static/images/menu/event.png">
                    <span>Events</span>
                </a>
                <a class="menu_option" th:href="@{/homePage/settings}">
                    <img th:src="@{/images/menu/setting.png}" src="/static/images/menu/setting.png">
                    <span>Settings</span>
                </a>
                <a class="menu_option" th:href="@{/homePage/help}">
                    <img th:src="@{/images/menu/help.png}" src="/static/images/menu/help.png">
                    <span>Help</span>
                </a>
            </div>
        </div>


    </div>

    <div class="right_side">

        <div class="right_top">
            <p style="font-size: 20px">Today is,</p>
            <div style="font-size: 20px; padding-right: 20px" id="currentDate"></div>
            <a th:href="@{/profile}">
                <img class="profile_img" th:src="@{/images/general/profile.png}" src="/static/images/general/profile.png">
            </a>
        </div>

        <div class="right_bottom">
            <div class="events">
                <p style="font-size: 40px">Events</p>
                <hr>
                <div style="padding-top: 20px" th:each="event : ${events}">
                    <p style="font-size: 20px" th:text="${#temporals.format(event.getTime(), 'dd.MM.yyyy HH:mm:ss')} + ' ' + ${event.getEvent()}">EVENT</p>
                    <hr>
                </div>
                <p th:if="${events.isEmpty()}" style="font-size: 20px; justify-self: center; padding-top: 20px">No events here.</p>

                <div class="event_pagination">
                    <a th:href="@{'/homePage/events?page=' + ${page - 1}}" th:if="${page > 1}">
                        <img class="pagination_button" th:src="@{/images/pagination/left-arrow.png}" src="/static/images/pagination/left-arrow.png">
                    </a>

                    <div class="event_pagination_block" th:if="${pageCount} < 3">
                        <a th:href="@{/homePage/events?page=1}">
                            <p>1</p>
                        </a>
                        <a th:if="${pageCount} == 2" th:href="@{/homePage/events/?page=2}">
                            <p>2</p>
                        </a>

                        <a th:href="@{'/homePage/events?page=' + ${pageCount}}">
                            <p th:text="'..' + ${pageCount}"></p>
                        </a>
                    </div>

                    <div class="event_pagination_block" th:if="${page} == 1">
                        <a th:href="@{/homePage/events?page=1}">
                            <p style="text-decoration: underline">1</p>
                        </a>
                        <a th:href="@{/homePage/events?page=2}">
                            <p>2</p>
                        </a>
                        <a th:href="@{/homePage/events?page=3}">
                            <p>3</p>
                        </a>

                        <a th:href="@{'/homePage/events?page=' + ${pageCount}}">
                            <p th:text="'..' + ${pageCount}"></p>
                        </a>
                    </div>

                    <div class="event_pagination_block" th:if="${page > 1 && page < pageCount}">
                        <a th:href="@{/homePage/events?page=1}" th:if="${page > 3}">
                            <p>1..</p>
                        </a>

                        <a th:href="@{'/homePage/events?page=' + ${page - 1}}">
                            <p th:text="${page - 1}"></p>
                        </a>
                        <a th:href="@{'/homePage/events?page=' + ${page}}">
                            <p style="text-decoration: underline;" th:text="${page}"></p>
                        </a>
                        <a th:href="@{'/homePage/events?page=' + ${page + 1}}">
                            <p th:text="${page + 1}"></p>
                        </a>

                        <a th:href="@{'/homePage/events?page=' + ${pageCount}}" th:if="${page < pageCount - 1}">
                            <p th:text="'..' + ${pageCount}"></p>
                        </a>
                    </div>

                    <div class="event_pagination_block" th:if="${page == pageCount}">
                        <a th:href="@{/homePage/events?page=1}">
                            <p>1..</p>
                        </a>

                        <a th:href="@{'/homePage/events?page=' + ${pageCount - 2}}">
                            <p th:text="${pageCount - 2}"></p>
                        </a>
                        <a th:href="@{'/homePage/events?page=' + ${pageCount - 1}}">
                            <p th:text="${pageCount - 1}"></p>
                        </a>
                        <a th:href="@{'/homePage/events?page=' + ${pageCount}}">
                            <p style="text-decoration: underline" th:text="${pageCount}"></p>
                        </a>
                    </div>

                    <a th:href="@{'/homePage/events?page=' + ${page + 1}}" th:if="${page < pageCount}">
                        <img class="pagination_button" th:href="@{'/homePage/events?page=' + ${page + 1}}" th:src="@{/images/pagination/right-arrow.png}" src="/static/images/pagination/right-arrow.png">
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>

<script>
    const currentDate = new Date();
    const options = { month: 'long', day: 'numeric' };
    const formattedDate = currentDate.toLocaleDateString('en-EN', options);
    document.getElementById('currentDate').textContent = formattedDate;
</script>

</body>
</html>