<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
<div class="container">

    <div class="left_side">
        <h1 class="logo_text">Home Sphere</h1>

        <a class="button" href="/homePage/home">Home screen</a>
        <a class="button" href="/homePage/devices">Devices</a>
        <a class="button" href="/homePage/events">Events</a>
        <a class="button" href="/homePage/settings">Settings</a>
        <a class="button" href="/homePage/help">Help</a>
    </div>

    <div class="right_side">
        <div class="right_top">
            <p style="font-size: 20px">Today is,</p>
            <div style="font-size: 20px; padding-right: 20px" id="currentDate"></div>
            <img href="/homePage/profile" class="profile_img" src="/images/general/profile.png">
        </div>
        <div class="right_bottom"></div>
    </div>

</div>

<script>
    const currentDate = new Date();
    const options = { month: 'long', day: 'numeric' };
    const formattedDate = currentDate.toLocaleDateString('en-EN', options);
    document.getElementById('currentDate').textContent = formattedDate;
</script>

</body>
</html>