<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/css/template.css}">
    <link rel="stylesheet" href="/static/css/template.css">

    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <link rel="stylesheet" href="/static/css/profile.css">
</head>
<body>
<div id="container" class="container">

    <div class="left_side">

        <div class="left_bottom"></div>

        <div class="wrapper" style="padding-left: 20px ">

            <h1 class="logo_text">Home Sphere</h1>

            <div class="menu">
                <a class="menu_option" th:href="@{/homePage/home}">
                    <img th:src="@{/images/menu/home.png}" src="/static/images/menu/home.png">
                    <span>Home screen</span>
                </a>
                <a class="menu_option" th:href="@{/homePage/devices}">
                    <img th:src="@{/images/menu/device.png}" src="/static/images/menu/device.png">
                    <span>Devices</span>
                </a>
                <a class="menu_option" th:href="@{/homePage/events}">
                    <img th:src="@{/images/menu/event.png}" src="/static/images/menu/event.png">
                    <span>Events</span>
                </a>
                <a class="menu_option" th:href="@{/homePage/settings}">
                    <img th:src="@{/images/menu/setting.png}" src="/static/images/menu/setting.png">
                    <span>Settings</span>
                </a>
                <a class="menu_option" th:href="@{/homePage/help}">
                    <img th:src="@{/images/menu/help.png}" src="/static/images/menu/help.png">
                    <span>Help</span>
                </a>
            </div>
        </div>


    </div>

    <div class="right_side">

        <div class="right_top">
            <p style="font-size: 20px">Today is,</p>
            <div style="font-size: 20px; padding-right: 20px" id="currentDate"></div>
            <a th:href="@{/profile}">
                <img class="profile_img" th:src="@{/images/general/profile.png}" src="/static/images/general/profile.png">
            </a>
        </div>

        <div class="right_bottom">
            <div class="profile">
                <p style="font-size: 40px">Profile</p>
                <hr>

                <div class="profile_content">
                    <p style="font-size: 20px">My details</p>

                    <div>
                        <p style="font-size: 15px">Name:</p>
                        <p th:text="${user.getFullname()}" style="font-size: 20px">FULL NAME</p>
                    </div>

                    <div>
                        <p style="font-size: 15px">Email:</p>
                        <p th:text="${user.getEmail()}" style="font-size: 20px">EMAIL</p>
                    </div>

                    <form method="POST" th:action="@{/logout}">
                        <input class="submit_button" type="submit" value="Logout">
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>

<script>
    const currentDate = new Date();
    const options = { month: 'long', day: 'numeric' };
    const formattedDate = currentDate.toLocaleDateString('en-EN', options);
    document.getElementById('currentDate').textContent = formattedDate;
</script>

</body>
</html>